*{
	margin: 0;
	padding: 0;
}
body{
	font-family: Tahoma;
}
.linha{
	max-width: 1140px;
	margin: 0 auto;
}

.logo img{
	height: 100px;
	float: left;
	margin-top: 30px;
}

.nav-principal{
	float: right;
	list-style: none;
	margin-top: 60px;
}
.nav-principal li{
	display: inline-block;
	margin-left: 20px;
}
.nav-principal li a{
	color: white;
	text-decoration: none;
	font-size: 90%;
	font-weight: bold;
}
.nav-principal li a:hover{
	color: #e67e22;
	border-bottom: 2px solid #e67e22;
	transition: all 0.5s ease-in;
	padding: 13px 0;
}
header{
	background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(img-min/principal-min.jpg);
	height: 100vh;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}
.heroi{
	position: absolute;
	width: 1140px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.heroi h1{
	color: white;
}

.button-principal{
	margin-top: 30px;
}

.butn
{
	border: 1px solid #e67e22;
	padding: 13px 30px;
	text-decoration: none;
	color: #e67e22;
	border-radius: 30px;
	margin-right: 20px;
}
.butn:hover{
	text-decoration: none;
}
.btn-vazio
{
	background-color: #e67e22;
	color: white;
}
.btn-cheio:hover
{
	background-color: #e67e22;
	color: white;
	transition: all 0.5s ease-in;
}

.caracteristicas h3{
	margin-top: 80px;
	margin-bottom: 80px;
}
.caracteristicas h3:after
{
	width: 120px;
	height: 3px;
	background-color: #e67e22;
	display: block;
	content: " ";
	margin: 0 auto;
	margin-top: 30px;
}

.copia-lorem
{
	width: 70%;
	margin-left: 15%;
	margin-bottom: 20px;
}

.ajeitar
{
	text-align: justify;
}

.caracteristicas i{
	font-size: 40px;
	color: #e67e22;
	margin-left: 45%;
}
.caracteristicas h4{
	margin-left: 40px;
}
.refeicao-amostra{
	list-style: none;
	width: 100%;
}
.refeicao-amostra li{
	display: block;
	width: 25%;
	float: left;
}

.refeicao-foto{
	width: 100%;
	margin: 0;
	overflow: hidden;
}
.refeicao-foto img{
	width: 100%;
	height: auto;
	transform: scale(1.19);
	transition: all 0.5s;
}

.refeicao-foto img:hover{
	transform: scale(1);

}
.refeicoes{
	margin-top: 80px;
}

.como-funciona h3:after
{
	width: 120px;
	height: 3px;
	background-color: #e67e22;
	display: block;
	content: " ";
	margin: 0 auto;
	margin-top: 30px;
}

.foto-mobile img{
	width: 40%;
	margin-left: 50%;
	margin-top: 50px;

}
.funcionamento-app{
	margin-top: 50px;
}
.funcionamento-app div{
	border: 1px solid #e67e22;
	display: inline-block;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	
}
.funcionamento-app img{
	height: 40px;
	margin-top: 20px;
	margin-right: 20px;

}
.clearfix{
	zoom:1;
}
.clearfix:after{
	visibility: hidden;
	content: ".";
	height: 0;
	display: block;
	clear: both;
}
.mobile{
	margin-top: 60px;
}